@media (max-width: 574px){
    .header{
        border-top: 1px solid rgb(0, 0, 0, 0.1);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        bottom: 0;
        z-index: 4;
        background-color: rgba(255, 255, 255, 0.96);
        animation-name: showHeader;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    .headerStatic{
        border-top: 1px solid rgb(0, 0, 0, 0.1);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        bottom: 0;
        z-index: 4;
        background-color: rgba(255, 255, 255, 0.96);
    }
    
    .headerHidden{
        border-top: 1px solid rgb(0, 0, 0, 0.1);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        bottom: 0;
        z-index: 4;
        background-color: rgba(255, 255, 255, 0.96);
        animation-name: hidenHeader;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes showHeader{
        from{
            transform: translateY(80px);
        }
    
        to{
            transform: translateY(0); 
        }
    }
    
    @keyframes hidenHeader{
        from{
            transform: translateY(0);
        }
    
        to{
            transform: translateY(80px);
        }
    }
    
    .header_container{  
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1400px;
        padding: 0 30px;
        
    }
    
    .containerlogo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33%;
    }
    
    .nav{
        display: flex;
        align-items: center;
        width: 66.66%;
        justify-content: center;
    }
    
    .list{
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;
        width: 100%;
    }
    
    .routes{
        display: flex;
        justify-content: center;
        width: 50%;
    }
    
    .link{
        color: #273238;
        text-decoration: none;
        font-size: 18px;
    }

    .redes{
        display: none;
    }

}

@media (min-width: 575px){
    .header{
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        top: 0;
        z-index: 4;
        background-color: rgba(255, 255, 255, 0.96);
        animation-name: showHeader;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    
    .headerStatic{
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        top: 0;
        z-index: 4;
        background-color: rgba(255, 255, 255, 0.96);
    }

    .headerHidden{
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        top: 0;
        z-index: 4;
        background-color: rgba(255, 255, 255, 0.96);
        animation-name: hidenHeader;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes showHeader{
        from{
            transform: translateY(-80px);
        }
    
        to{
            transform: translateY(0);
            
        }
    }
    
    @keyframes hidenHeader{
        from{
            transform: translateY(0);
        }
    
        to{
            transform: translateY(-80px);
        }
    }
    
    .header_container{  
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1400px;
        padding: 0 50px;
        
    }
    
    .containerlogo{
        display: flex;
        align-items: center;
        width: 20%;
    }
    
    .nav{
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: flex-end;
    }
    
    .list{
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;
    }
    
    .routes{
        margin-right: 40px;
    }
    
    .link{
        color: #273238;
        text-decoration: none;
        font-size: 18px;

    }
    
    
    
}

