@media (max-width: 574px){
    .multimedia{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .containerMultimedia{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .containervideo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .video{
        height: 300px;
        width: 100%;
    }
    
    .imagenes{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        padding: 30px 0;
    }
    
    .containerImg{
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
        margin: 15px;
        overflow: hidden;
    }

    .imagen{
        height: 100%;
    }
}

@media (min-width: 575px){
    .multimedia{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .containerMultimedia{
        width: 100%;
        max-width: 1400px;
        padding: 50px;
    }
    
    .containervideo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video{
        width: 760px;
        height: 515px;
        
    }
    
    .imagenes{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 30px 0;
    }
    
    .containerImg{
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 390px;
        margin: 10px;
        overflow: hidden;
    }

    .imagen{
        height: 100%;
    }
}


